.imageboard {
    padding: 10px;
}

.imageboard img {

}

.imageboard button {
    width: 40px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image {
    display: flex;
    justify-content: center;
}

.count {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.score {
    padding: 10px;
}

.count_and_image {
    border: 2px solid #ce96b6;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin: 5px;
}

.main_title {
    font-family: cursive;
    font-size: 30px;
    padding: 5px 0 0 10px;
}

.button_faves {
    background-color: rgb(255, 174, 0);
}

.button_upvotes {
    background-color: rgb(153, 224, 46)
}

.button_downvotes {
    background-color: rgb(255, 158, 174)
}

.selectedPage {
    font-weight: bold;
    cursor: pointer;
}

.paginator {
    position: relative;
    text-align: center;
    margin: 10px 10px 0 10px;
}

.profile {
    position: relative;
    text-align: center;
    margin: 10px 10px 0 10px;
}