.nav {
    grid-area: n;
}

.navbar {
    background-color: gold;
    border: 4px solid rgb(204, 174, 2);
    border-radius: 10px;
    height: 100%;
}

.searchArea {
    display: none;
}

.navigation {
    width: 100%;
    padding: 0;
}

.menuImages:hover {
    background-color: beige;
}

.menuFeedback:hover {
    background-color: beige;
}



@media (max-width: 1000px) {
    .navbar {
        height: 36px;
    }

    .searchArea {
        display: flex;
        height: 28px;
        padding: 0 0 0 20px;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}
